* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, hsla(240, 100%, 50%, 0.808), hsla(300, 100%, 25%, 0.74));
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: #00ccff;
}
.botinput-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 100px;
  padding: 20px 30px;
}
.botinput-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.botinput-container h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inputbtn {
  display: flex;
}
.inputbtn input {
  padding: 10px 20px;
  font-size: 18px;
  background: none;
  border: 2px solid #00aacc;
  border-radius: 10px;
  flex-grow: 1;
  color: #fff;
}
.inputbtn button {
 padding: 10px 20px;
 font-size: 18px;
 background-color: hsla(152, 100%, 50%, 0.671);
 border: 2px solid blue;
 border-radius: 10px;
 margin-left: 10px;
}
.usermessage {
  display: flex;
  justify-content: end;
  align-items: start;
}
.usermessage img {
  width: 30px;
  margin-left: 5px;
}
.botmessage {
  display: flex;
  align-items: start;
}
.botmessage img {
  width: 30px;
  margin-right: 5px;
}
.message {
  background-color: #00aacc;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 300px;
}
.message2 {
  overflow: scroll;
  scrollbar-width: none;
  flex-grow: 1;
  margin-top: 30px;
  padding: 10px 20px;
}